.contact-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.contact-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-unit);
  justify-content: space-between;
}
 
.contact-navlink1 {
  display: contents;
}
 
.contact-image {
  width: 85px;
  height: 85px;
  text-decoration: none;
}
 
.contact-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.contact-links1 {
  flex: 1;
  height: 52px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.contact-navlink2 {
  margin-right: var(--dl-layout-space-unit);
  animation-name: bounce;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.contact-navlink3 {
  margin-right: var(--dl-layout-space-unit);
  animation-name: bounce;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.contact-navlink4 {
  margin-right: var(--dl-layout-space-unit);
  animation-name: bounce;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.contact-buttons1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.contact-burger-menu {
  display: none;
}
 
.contact-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.contact-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.contact-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.contact-logo {
  height: 2rem;
}
 
.contact-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.contact-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.contact-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact-text1 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.contact-text2 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.contact-text3 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.contact-text4 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.contact-text5 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.contact-buttons2 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.contact-login {
  margin-right: var(--dl-layout-space-twounits);
}
 
.contact-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.contact-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.contact-icon18 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
@media(max-width: 767px) {
  .contact-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .contact-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .contact-text1 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .contact-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .contact-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .contact-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .contact-text5 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
}
 
@media(max-width: 479px) {
  .contact-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .contact-desktop-menu {
    display: none;
  }
  .contact-burger-menu {
    display: flex;
  }
  .contact-mobile-menu {
    padding: 16px;
  }
}
